<div class="container">
    <div class="collapse" id='ebook-uploadProgress'>
        <img src="/images/spinner.gif" class="loading-icon inline" />
        <p class='text-muted inline'>Uploading ... </p>
    </div>
</div>