body {
    padding-top: 72px;
}
.jumbotron {
    height: 200px;
}

.file-icon {
    height: 25px;
}

.add-icon {
    height: 25px;
}

.btn:focus, .btn.focus {
	box-shadow: none;
}

.disabled {
    display: none;
}

.loading-icon {
    height: 40px;
}

.delete-icon {
    float: right;
}

.no-files {
    float: left;
}

.files-list {
    padding-top: 10px;
}

#toggleHiddenFiles {
    float: right;
}