<form>
    <div class="form-group">
        <label for="song-link">Link to youtube music video</label>
        <input type="text" class="form-control" id="song-link" placeholder="Enter link">
    </div>
    <div class="form-group">
        <label for="song-name">Name</label>
        <input type="text" class="form-control" id="song-name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="song-artist">Artist</label>
        <input type="text" class="form-control" id="song-name" placeholder="Artist">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>