<html>
    <head>
        <title>Music Download</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/files.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="display-3"> Download Music <h2>
        <p class='bd-lead'>Select music to download</h2>
        <%- include('_form') %>
    </body>
</html>