<div class="card">
    <a href="files" >
        <img class="card-img-top" src="images/<%= card %>.png">
        <div class="card-body">
            <h5 class="card-title"><%= card %></h5>
            <p class="card-text">View, move, and upload files.</p>
        </div>
    </a>
</div>