<div id="addModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload files</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <small class='text-muted'> Current files: </small>
                <%- include('_uploadForm', { reqPath }); %>
            </div>
            <div class="modal-footer">
                <div class='upload-progress disabled'>
                    <img class='loading-icon' src="/images/spinner.gif" />
                    Uploading ...
                </div>
                <div class='input-group mb-3'>
                    <div class='custom-file'>
                        <label class="custom-file-label" for="file-0" id="file-label">
                            Select file
                        </label>
                    </div>
                    <div class='input-group-append'>
                        <button type="button" onclick='submitForm(event)' class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
