<form id='uploadForm' 
      action=<%= '/files' + reqPath %>
      method='post' 
      encType="multipart/form-data">
    <ul id='files-list' class="list-group">
    </ul>
    <input id='file-0' type="file" class="disabled custom-file-input" name="file0" oninput='renderFormInput()' />
</form>
